# Ignore database files
*.sqlite3

# Ignore Django migrations
# Ignore Django migrations EXCEPT the __init__.py file
**/migrations/*
!**/migrations/__init__.py


# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore media/uploads
media/
staticfiles/

# Ignore environment variables
.env
venv/
