{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-5 mb-4">
    
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center mb-1">Sign Up</h2>

        <form method="post" class="card p-4 shadow-sm">
          {% csrf_token %}
          
          {{ form|crispy }}
          
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
